asttokens==2.4.1
backcall==0.2.0
colorama==0.4.6
comm==0.2.2
decorator==5.1.1
exceptiongroup==1.2.2
executing==2.0.1
filelock==3.16.1
greenlet==3.1.1
ipython==7.34.0
ipywidgets==8.1.5
jedi==0.19.1
jupyterlab_widgets==3.0.13
matplotlib-inline==0.1.7
mccabe==0.7.0
numpy==2.0.2
packaging==24.1
pandas==2.2.2
pandas-stubs==2.2.2.240807
parso==0.8.4
patsy==0.5.6
pexpect==4.9.0
pickleshare==0.7.5
prompt_toolkit==3.0.47
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.13.1
six==1.16.0
SQLAlchemy==2.0.39
stack-data==0.6.3
statsmodels==0.14.2
tqdm==4.66.5
traitlets==5.14.3
types-pytz==2024.2.0.20241003
typing_extensions==4.12.2
tzdata==2024.1
wcwidth==0.2.13
widgetsnbextension==4.0.13
XlsxWriter==3.2.2